.table-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.table-body{
    width: 100%;
    height: 4vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}
.table-header{
    width: 100%;
    height: 3vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    border: 2px solid #d9d9d9;
}
.table-header-item{
    display: flex;
    align-items: center;
    background-color: #eeeeee;
    border-right: 1px solid #d9d9d9;
    width: 100%;
    height: 100%;
}
.table-header-item p{
    padding-left: 1vw;
}
.table-header-item:hover{
    background-color: #ffffff;
    border-right: 2px solid #eeeeee;
}
